[user]
	name = tuliopaim
[includeIf "gitdir:~/dev/personal/"]
  path = .gitconfig-personal
[includeIf "gitdir:~/dev/tb/"]
  path = .gitconfig-tb

[core]
	editor = nvim

[alias]
    clone-wt = "!sh clone-wt"
