[alias]
	home = config --global user.email tutpaim@gmail.com
	tb = config --global user.email tulio.p@thinkbridge.com
[user]
	email = tutpaim@gmail.com
	name = tuliopaim
[credential "https://gitlab.com"]
	provider = generic
[fetch]
	prune = true
[core]
	ignorecase = false
	editor = nvim
[push]
	autoSetupRemote = true
[safe]
	directory = C:/Users/tutpa/.dotfiles
[credential]
	helper = store
